<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b07a64">  <td>22/01/13 18:56:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GETStatus.getSingleBookDetail()[pri:0, instance:GETStatus@2145b572]">getSingleBookDetail</td> 
  <td>main@860481979</td>   <td></td> </tr>
<tr bgcolor="b07a64">  <td>22/01/13 18:56:31</td>   <td>-538</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GETStatus.setUp()[pri:0, instance:GETStatus@2145b572]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@860481979</td>   <td></td> </tr>
</table>
